<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link href="/style/show.css" rel="stylesheet" type="text/css">
    <link href="/style/show.js" rel="javascript">

    <title>All characters</title>
</head>

<body>
    <header class="banner ">
        <section class="headerBox">

            <h1 class="font-monospace text-uppercase text-center text-white header-text rounded">All genshin characters</h1>
        </section>

    </header>
<main class="main">
    
    
    <section class="container characters-box   ">
        

        <section class="contain-card pt-5 pb-5 d-flex flex-wrap justify-content-center">

            <% for (let i=0; i<=60 ; i++) { %>
                
                <% if (info.characters_map[i].element=="Anemo" ) { %>
                    <a href="/genshin/<%=info.characters_map[i].name.toLowerCase()%>">
                        <div class="card p-2 char" style="width: 12rem;">
                            <img src="<%=info.characters_map[i].icon%>" style="background-color: #54dcb4;"
                                class="card-img-top " alt="...">
                            <div class="card-body char-name">
                                <p class="card-text text-center font-monospace text-uppercase ">
                                    <%=info.characters_map[i].name %>
                                </p>
                            </div>
                        </div>

                    </a>
                    <% } %>
                        <% if (info.characters_map[i].element=="Cryo" ) { %>
                            <a href="/genshin/<%=info.characters_map[i].name.toLowerCase()%>">
                                <div class="card p-2 char" style="width: 12rem;">
                                    <img src="<%=info.characters_map[i].icon%>" style="background-color: #b9dfe4;"
                                        class="card-img-top " alt="...">
                                    <div class="card-body char-name">
                                        <p class="card-text text-center font-monospace text-uppercase">
                                            <%=info.characters_map[i].name %>
                                        </p>
                                    </div>
                                </div>

                            </a>
                            <% } %>
                                <% if (info.characters_map[i].element=="Dendro" ) { %>
                                    <a href="/genshin/<%=info.characters_map[i].name.toLowerCase()%>">
                                        <div class="card p-2 char " style="width: 12rem;">
                                            <img src="<%=info.characters_map[i].icon%>"
                                                style="background-color: #4fef67;" class="card-img-top " alt="...">
                                            <div class="card-body char-name">
                                                <p class="card-text text-center font-monospace text-uppercase">
                                                    <%=info.characters_map[i].name %>
                                                </p>
                                            </div>
                                        </div>

                                    </a>
                                    <% } %>
                                        <% if (info.characters_map[i].element=="Electro" ) { %>
                                            <a href="/genshin/<%=info.characters_map[i].name.toLowerCase()%>">
                                                <div class="card p-2 char" style="width: 12rem;">
                                                    <img src="<%=info.characters_map[i].icon%>"
                                                        style="background-color: #ae62c7;" class="card-img-top "
                                                        alt="...">
                                                    <div class="card-body char-name">
                                                        <p class="card-text text-center font-monospace text-uppercase">
                                                            <%=info.characters_map[i].name %>
                                                        </p>
                                                    </div>
                                                </div>

                                            </a>
                                            <% } %>
                                                <% if (info.characters_map[i].element=="Geo" ) { %>
                                                    <a href="/genshin/<%=info.characters_map[i].name.toLowerCase()%>">
                                                        <div class="card p-2 char" style="width: 12rem;">
                                                            <img src="<%=info.characters_map[i].icon%>"
                                                                style="background-color: #e8c660;" class="card-img-top "
                                                                alt="...">
                                                            <div class="card-body char-name">
                                                                <p
                                                                    class="card-text text-center font-monospace text-uppercase">
                                                                    <%=info.characters_map[i].name %>
                                                                </p>
                                                            </div>
                                                        </div>

                                                    </a>
                                                    <% } %>
                                                        <% if (info.characters_map[i].element=="Hydro" ) { %>
                                                            <a
                                                                href="/genshin/<%=info.characters_map[i].name.toLowerCase()%>">
                                                                <div class="card p-2 char" style="width: 12rem;">
                                                                    <img src="<%=info.characters_map[i].icon%>"
                                                                        style="background-color: #599ec4;"
                                                                        class="card-img-top " alt="...">
                                                                    <div class="card-body char-name">
                                                                        <p
                                                                            class="card-text text-center font-monospace text-uppercase">
                                                                            <%=info.characters_map[i].name %>
                                                                        </p>
                                                                    </div>
                                                                </div>

                                                            </a>
                                                            <% } %>
                                                                <% if (info.characters_map[i].element=="Pyro" ) { %>
                                                                    <a
                                                                        href="/genshin/<%=info.characters_map[i].name.toLowerCase()%>">
                                                                        <div class="card p-2 char" style="width: 12rem;">
                                                                            <img src="<%=info.characters_map[i].icon%>"
                                                                                style="background-color: #BF3636;"
                                                                                class="card-img-top " alt="...">
                                                                            <div class="card-body char-name">
                                                                                <p
                                                                                    class="card-text text-center font-monospace text-uppercase">
                                                                                    <%=info.characters_map[i].name %>
                                                                                </p>
                                                                            </div>
                                                                        </div>

                                                                    </a>
                                                                    <% } %>
                                                                        <% } %>
                                                                        

        </section>

        
    </section>
    <!-- <section class=" info rounded sticky-top">
        <h1>hello</h1>
    </section> -->
    <section class=" news rounded sticky-top ">
        <!-- <h1 text-center>twitter</h1> -->
        <a class="tweet-info"  href="https://twitter.com/intent/tweet?button_hashtag=GenshinImpact&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #GenshinImpact</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <a class="twitter-timeline" data-height="800" data-theme="dark" href="https://twitter.com/GenshinImpact?ref_src=twsrc%5Etfw">Tweets by GenshinImpact</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </section>
</main>

    

    <footer class="footer ">
        <div>
            <h4>Github</h4>
        </div>

    </footer>











</body>

</html>